.searchResult {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: var(--inputBackgroundColor);
  border-radius: var(--searchBarBorderRadius);
  padding: var(--padding-500);
}

.searchResultIcon {
  fill: var(--primaryColor);
  max-width: 50px;
  max-height: 50px;
  margin: 1em;
}

.searchResultTitle {
  font-size: var(--headingFS);
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: capitalize;
}

/* Books Container*/
.booksContainer {
  display: grid;
  width: 90vw;
  min-height: 100vh;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(25em, 1fr));
  margin: 3em auto;
  gap: 2rem 1rem;
  place-content: center;
  place-items: center;
  place-self: center;
}

.bookCard {
  display: grid;
  grid-template-rows: 60% 40%;
  width: 95%;
  height: var(--cardHeight);
  overflow: hidden;
  cursor: pointer;
  border-radius: var(--cardBorderRadius);
  box-shadow: var(--boxShadowLightBehind);
  background-color: var(--primaryColorDark);
  background-position: center;
  background-size: cover;
  background-blend-mode: soft-light;
  opacity: 0.95;
}

.frontCover {
  grid-row: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.9;
  align-self: flex-start;
  justify-self: flex-start;
}

.aboutBook {
  grid-row: 2;
  background-color: var(--DarkModeOpacity);
  width: 100%;
  height: 100%;
  padding: 0.25em 1em;
  cursor: auto;
  position: relative;
  box-shadow: 0 -10px 8em 2em var(--DarkModeOpacity);
}

.bookTitle {
  font-size: var(--subHeadingFS);
  margin-bottom: 0.5rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  color: var(--primaryColor);
}

.bookSubtitle {
  position: relative;
  color: var(--secondaryColor);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.aboutBookNav {
  display: grid;
  justify-content: left;
  align-items: center;
  align-content: center;
  width: 90%;
  grid-template-columns: 40% 12% 12% 12% 12%;
  gap: 0 2%;
  position: absolute;
  bottom: 0.5rem;
}

.Price {
  grid-column: 1;
  font-size: calc(0.5rem + 0.1vw + 0.1vh + 50%);
  font-weight: bolder;
  color: var(--labelColor);
}

.bookIcon {
  pointer-events: all;
  max-width: max(30px, 80%);
  max-height: 30px;
  cursor: pointer;
  transform: scale(0.8) translate(50%, 10%);
  transform-origin: bottom center;
  transition: var(--transition-5ms-Ease);
}

.bookIcon:hover {
  transform: scale(0.95) translate(50%, 10%);
}

.aboutBookItem {
  display: block;
  position: relative;
}

.aboutBookItem:not(.Price, .Favorite, .Cart, .Link)::after {
  content: attr(var(--itemAttribute));
  position: absolute;
  left: -90%;
  top: -100%;
  width: max-content;
  padding: 0.6em 1em 0 1em;
  font-size: var(--paragraphFontSize);
  height: 100%;
  background-color: var(--primaryCardColor);
  color: var(--tertiaryColor);
  border-radius: var(--cardBorderRadius);
  display: none;
}

.aboutBookItem:hover::after {
  display: block;
}

.Link:not(.linkDirectory) {
  grid-column: 2;
}

.Link:hover {
  --itemAttribute: title;
}

.Link .bookIcon {
  padding-top: 0.2rem;
  fill: var(--primaryColor);
}

.Cart {
  fill: var(--tertiaryColor);
}

.ISBN {
  --itemAttribute: ISBN;
  grid-column: 3;
}

.ISBN .bookIcon {
  fill: var(--primaryColorLight);
}

.Favorite {
  --itemAttribute: status;
  grid-column: 4;
}

.Favorite .bookIcon {
  --fillColor: #e7a310;
  fill: rgba(255, 255, 255, 0.014);
  stroke-width: 50px;
  stroke: var(--fillColor);
  transition: all 0.5s ease-in-out;
}

.Favorite[isFavorite="true"] .bookIcon {
  stroke-width: 10px;
  fill: var(--fillColor);
}

.Favorite:hover .bookIcon {
  stroke-width: 10px;
  fill: var(--fillColor);
}

.Cart {
  --itemAttribute: status;
  grid-column: 5;
  transform: scale(1.2);
}

.hide {
  display: none;
}
