:root {
  /* ? Sizes */
}
body {
  max-height: 100dvh;
  width: 100vw;
  overflow: hidden;
  padding: 0;
}

.mainFooter.Contact {
  height: 100dvh;
  width: 100vw;
  grid-template-rows: 50% 50%;
}

.Footer.HeroSection {
  height: 100%;
}
.floorShape {
  bottom: -3em;
}
.Footer.hs-image {
  max-height: var(--size-500);
  max-width: var(--size-500);
  z-index: 2;
  transform: translateY(0);
}
.Footer.mainSection {
  height: 100%;
  grid-template-rows: 100%;
  grid-template-columns: 45% 45%;
}
.Divider {
  grid-column: 1;
  display: grid;
  place-content: center;
  place-items: center;
  place-self: center;
  min-height: 100%;
  min-width: 100%;
  gap: 2em;
}

.Footer.Logo {
  grid-column: unset;
  grid-row: unset;
}
.socialLinksAside {
  grid-column: unset !important;
  grid-row: unset !important;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  transform: translate(0);
  height: 100px;
}
.contactForm {
  grid-column: 2;
  height: 90%;
  width: 100%;
  margin-top: var(--spacing-200);
  position: relative;
  display: grid;
  grid-template-columns: 48% 48%;
  grid-template-rows: 1fr 1fr 2fr;
  gap: var(--spacing-100) 2.5%;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 0.5rem;
}

.textAreaLabel {
  position: relative;
}
.FieldBox {
  display: grid;
  align-items: center;
  gap: 0.4rem 0;
  width: 100%;
  height: 100%;
}

.userName {
  grid-row: 1;
  grid-column: 1;
}
.phoneNumber {
  grid-row: 1;
  grid-column: 2;
}

.emailAddress {
  grid-row: 2;
  grid-column: 1 / span 2;
}
.textAreaBox {
  grid-row: 3;
  grid-column: 1 / span 2;
}

.FormLabel {
  font-size: calc(var(--subHeadingFS) + 0.1vw);
  color: var(--primaryColor);
}

.inputField {
  width: 100%;
  padding: 1em;
  font-size: var(--paragraphFontSize);
  border-radius: var(--radius-200);
  box-shadow: var(--box-shadow-500);
  background-color: var(--backgroundColor);
  color: var(--labelColor);
}

.inputField::placeholder {
  color: var(--labelColor);
}
.inputField::-webkit-scrollbar {
  display: none;
}

.MobNumField {
  padding: 1em 1em 1em 35%;
}
.phoneNumberDropDown {
  position: relative;
  border-radius: var(--radius-200);
  overflow: hidden;
}
.countriesCodeList {
  border-radius: var(--radius-200);
  cursor: pointer;
  appearance: none;
  background-color: var(--primaryCardColor);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 2;
  width: 32%;
  text-align: left;
  color: var(--primaryColor);
  font-size: calc(-0.2vw + var(--paragraphFontSize));
  font-weight: 600;
  padding: 0 0 0 1rem;
}
.countriesCodeList::placeholder {
  color: var(--primaryColor);
}

.BodyMessage {
  height: 100%;
  font-size: larger;
  line-height: 1.8;
  overflow: scroll !important;
}
.submitBtn {
  position: absolute;
  background-color: var(--primaryColor);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  padding: 0.5rem;
  cursor: pointer;
  right: 2rem;
  bottom: 0;
}

.sendMessageIcon {
  max-width: 100%;
  max-height: 100%;
  transition: var(--transition-5ms-Ease);
  fill: var(--backgroundColor);
}

.submitBtn:hover {
  background-color: var(--tertiaryColor);
  border: none;
}

/* desktop or 19 inch laptop */

@media only screen and (max-width: 1600px) {
}

/* laptop screen size larger than 1200 px*/
@media only screen and (max-width: 1500px) {
  footer {
    margin: 0;
    min-height: 150vh;
  }
  .floorShape {
    transform: scale(1.45) translate(0%, 2%);
    height: calc(7rem + 5%);
  }
  .contactForm {
    width: 55%;
    height: 80%;
    transform: translate(0, 2.5%);
  }

  .socialLinksAside {
    transform: translateY(-10%);
  }
  .socialIconsSVGs {
    max-width: 25px !important;
    max-height: 25px !important;
  }
  .submitBtn {
    bottom: -0.5rem;
  }
}

/* normal laptop screen */
@media only screen and (max-width: 1200px) {
  .contactForm {
    width: 55%;
    height: 80%;
    transform: translate(0, 2.5%);
  }

  .socialIconsSVGs {
    max-width: 25px !important;
    max-height: 25px !important;
  }
}
