/*?  Custom */

.javaScript {
  color: #eea216;
}

header {
  --headerHight: 12vh;
  background-color: transparent !important;
  opacity: 0.8;
  box-shadow: 0 0 0.5em -0.25em var(--DarkModeOpacity);
}

body {
  padding: 0;
}

main {
  height: 100dvh;
  overflow: hidden;
}

main[isContentObserving="true"] {
  min-height: 100dvh;
  overflow-y: visible;
}

/* Carousel */
.sectionCarousel {
  height: 100dvh;
  width: 100vw;
}

.containerBgIma {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.5);
  opacity: 0.9;
}

.carouselArticle {
  width: 60%;
  height: 100%;
  inset: 0;
  left: 10%;
  display: grid;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  place-self: center;
  text-align: left;
  padding-left: 1em;
}

.carouselTitle {
  font-size: var(--heroSectionTitle);
  width: 90%;
  transition: all 0.5s ease-in-out;
  opacity: 0.8;
}

.carouselDescription {
  font-size: var(--subHeadingFS);
  max-width: 80%;
  transition: all 0.5s ease-in-out;
  opacity: 0.8;
  padding-left: 0.25em;
  color: var(--primaryColorLightGray);
}

.GalleryBtn {
  padding: 1rem 0.5rem;
  margin: 0;
  width: 175px;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 0.5rem;
  border: unset;
  opacity: 0.6;
  transform: scale(1);
}

.GalleryBtn > svg {
  max-width: 25px;
  max-height: 20px;
}

.indicator {
  display: inline-block;
}

.indicator {
  background-color: var(--primaryColor) !important;
  width: 50px !important;
  height: 8px !important;
  border-radius: 2.5em !important;
  border: unset !important;
}

.Controllers {
  width: min(10vw, 120px) !important;
}

.carouselControllers:disabled {
  display: none !important;
}

.lottieAnimation {
  position: absolute;
  top: 20%;
  right: 1em;
  opacity: 0.7;
  width: max(40vw, 500px);
  height: min(600px, 65dvh);
}

/* Main topics */
.bottomPart {
  min-height: 100dvh;
  width: min(99vw, 100%);
  padding: var(--padding-200) var(--padding-700);
}

.bottomPart[isExpanded="false"] {
  display: none;
}

/* sub Hero section */
.topicsHeroSection {
  height: 30dvh;
}

.topicsTitle {
  font-size: var(--headingFS);
}

.topicsLogo {
  max-width: max(30%, 150px);
  max-height: max(30%, 150px);
  margin-right: 5em;
}

.topicsDescription {
  max-width: 70%;
  font-size: var(--subHeadingFS);
}

.articleContainer {
  padding: var(--padding-100);
  gap: var(--spacing-200);
}

/* content container */
.aboutSectionCard {
  background-color: var(--cardBackgroundColorOpacity);
  border-radius: var(--radius-200);
  margin: var(--spacing-dynamic) auto !important;
  gap: var(--spacing-200);
  position: relative;
  box-shadow: var(--box-shadow-200);
}

.aboutSectionCard::before {
  content: "";
  position: absolute;
  background-color: var(--primaryColor);
  top: 0;
  width: 10px;
  height: 100%;
}

.right::before {
  right: 0;
  left: unset;
  border-radius: 0 var(--radius-200) var(--radius-200) 0;
}

.left {
  padding-left: var(--padding-200);
}
.left::before {
  right: unset;
  left: 0;
  border-radius: var(--radius-200) 0 0 var(--radius-200);
}

.topicsArticleImage {
  max-width: max(200px, 40%);
  max-height: max(200px, 100%);
  aspect-ratio: 16 / 10;
  filter: brightness(0.7);
  opacity: 0.9;
}

.right .topicsArticleImage {
  border-radius: var(--radius-200) var(--radius-100) var(--radius-100)
    var(--radius-200);
}

.left .topicsArticleImage {
  border-radius: var(--radius-100) var(--radius-200) var(--radius-200)
    var(--radius-100);
}

.topicsArticleHeading {
  font-size: var(--subHeadingFS);
  color: var(--primaryColor);
}

.topicsArticleDescription {
  max-width: 80%;
  font-size: var(--paragraphFontSize);
}

.findBooksRelatedSection {
  margin: var(--spacing-900) auto;
  position: relative;
}

.findRelatedHeading {
  font-size: var(--headingFS);
  color: var(--primaryColorLightGray);
}

main[isContentObserving="false"] .mainFooter {
  display: none;
}

.topicsActionButtons {
  align-items: center;
  justify-content: center;
  width: 100vw;
}

/* ? Media Queries  */

/* * Laptops screen size */
@media (max-width: 90em) {
  .lottieAnimation {
    width: max(30vw, 300px);
    height: min(350px, 50dvh);
    right: 5%;
    top: 30%;
  }
  .carouselArticle {
    width: 65%;
  }
}

@media (max-width: 65em) {
  .lottieAnimation {
    display: none !important;
  }
  .carouselArticle {
    width: 95%;
    place-content: center;
    place-items: center;
    place-self: center;
    text-align: center;
    padding-left: 0;
    left: 0;
    gap: 0.75em 0;
    margin: 0 auto;
  }
  .bottomPart {
    padding: 2em 1em;
  }

  .topicsHeroSection.flex {
    display: grid;
    width: 100%;
    height: auto;
  }

  .topicsLogo {
    display: none;
  }
  .topicsDescription {
    max-width: 100%;
    font-size: var(--subHeadingFS);
  }

  .aboutSectionCard.flex {
    display: grid;
    grid-template-rows: 50% 50%;
    gap: var(--spacing-100);
  }
  .aboutSectionCard::before {
    display: none;
  }
  .topicsArticleDescription {
    margin-top: var(--spacing-100);
    max-width: 100%;
    grid-row: 2;
  }

  .topicsArticleImage {
    max-height: unset;
    max-width: unset;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    grid-row: 1;
  }

  .left {
    padding-left: 0;
  }
  .findBooksRelatedSection {
    margin: var(--spacing-200) auto;
    position: relative;
  }
  .booksContainer[books-container] {
    grid-template-columns: unset;
    grid-template-rows: unset;
    margin: 0 auto;
    place-content: unset;
    place-items: unset;
    place-self: unset;
    gap: 0 0;
    max-width: unset;
    min-height: unset;
    height: auto;
    padding: var(--spacing-100);
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    overflow-x: scroll;
    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory;
  }

  .bookCard {
    scroll-snap-align: start;
  }
}

/* * Hover Support  */
@media (hover: hover) {
  .carouselDescription:hover,
  .carouselTitle:hover {
    opacity: 1;
  }

  .GalleryBtn:hover {
    opacity: 0.9;
  }
}
