header[searchBar="true"] {
  justify-content: center;
  gap: 10%;
}

/* search bar */
.searchBarForm {
  width: 275px;
  height: 45px;
  border-radius: var(--radius-dynamic);
  overflow: hidden;
  position: relative;
  background-color: transparent;
}

.primarySearchBarForm {
  display: none;
}

header[isInteracting="true"] .mainNav {
  width: 100%;
}

header[isInteracting="true"] .primarySearchBarForm {
  display: block;
}

.heroSection {
  display: grid;
  position: relative;
  height: 100vh;
}

.heroSection.heroSectionImage {
  width: 100vw;
  inset: 0;
}

.heroSectionTitle {
  position: absolute;
  text-align: left;
  z-index: 2;
  letter-spacing: 2px;
  font-size: var(--heroSectionTitle);
  top: 30%;
  transform: translate(10%, -30%);
}

.secondarySearchBar {
  width: 45%;
  height: 75px;
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(-1%, -40%);
  font-size: 1.2em;
}

.secondarySearchBar .searchSubmitButton {
  width: 10%;
  background-color: var(--primaryColor);
}
.secondarySearchBar .searchSubmitButton svg {
  fill: var(--inputBackgroundColor);
}
